@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

body {
    font-family: 'Mulish',sans-serif;
    overflow-x: hidden;
}

.navbar .nav-link {
    font-size: 14px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-link.active {
    border-left: 3px solid #444;
}

.carousel-item {
    height: 450px;
}

.carousel-image-1 {
    background: linear-gradient(
        rgba(0,0,0,0),
        rgba(0,0,0,.5)
    ),url('../assets/img/etc/cover1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-image-2 {
    background: linear-gradient(
        rgba(0,0,0,0),
        rgba(0,0,0,.5)
    ),url('../assets/img/etc/cover2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-image-3 {
    background: linear-gradient(
        rgba(0,0,0,0),
        rgba(0,0,0,.5)
    ),url('../assets/img/etc/cover3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#homeheading {
    min-height: 200px;
    background: url('../assets/img/etc/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;

    text-align: center;
    color: #fff;

    position: relative;
}

.darkoverlays {
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
}

#videoplay {
    min-height: 200px;
    background: url('../assets/img/etc/background.jpg') no-repeat;
    background-attachment: fixed;

    text-align: center;
    color: #fff;

    position: relative;
}

#videoplay a {
    color: #fff;
}

/* start footer */
#mainfooter {
    background: #000;
    color: #fff;
}
/* end footer */